<!DOCTYPE html>
<html>
<head>
    <title>404 Not Found</title>
</head>
<body>
    <h1>404 - Página no encontrada</h1>
    <p>La URL solicitada <%= url %> no se encuentra en el servidor.</p>
</body>
</html>
