<!-- views/500.ejs -->
<!DOCTYPE html>
<html>
<head>
    <title>Error Interno del Servidor</title>
</head>
<body>
    <h1>500 - Error Interno del Servidor</h1>
    <p>Lo sentimos, ha ocurrido un error en el servidor.</p>
    <pre><%= error.stack %></pre>
</body>
</html>
